/*LAYOUT*/
.buttonWapp{
    position: fixed !important;
    bottom: 32px;
    right: 24px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.grid{
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    &-1-mobile{
        @media (max-width: 767px) {
            grid-template-columns: 1fr !important;
        }
    }
}

/*HOME*/
.home{
    margin-bottom: 100px;
    &__title{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 40px;
        @media (min-width: 414px) {
            font-size: 3rem;
        }
        &>span{
            display: block;
            font-weight: 400;
            font-size: 1.1rem;
            color:var(--light-neutral-600);
        }
    }
    &__descripPrincipal{
        font-style: italic;
        padding-left: 20px;
        p{
            margin-bottom: 16px;
            strong{
                display: block;            
                margin-top: 4px;
            }
        }
    }
}

.skills{
    margin-bottom: 50px;
}


/*header*/
.header{
    text-align: right;
    padding: 15px;
    a{
        margin-bottom: 15px;
        display: flex;
        color: var(--light-blue-500);
        font-weight: 600;
        justify-content: flex-end;
    }
    &__tel{
        text-decoration: none;
        font-size: 18px;
        overflow: hidden;
    }
}

/*footer*/
.footer{
    padding: 15px 0 10px;
    margin-top: 50px;
    border-top:1px solid var(--light-neutral-600); 
    text-align: center;
}



//TITLE
.title{
    h2{
        font-size: 1.6rem;
        display: inline-block;
        color: var(--light-neutral-800);
        border-bottom: 1px solid var(--light-neutral-500);
        font-weight: 700;
        margin-bottom: 40px;
    }
}

//CARD
.card{
    padding: 16px;
    border: 1px solid var(--light-neutral-800);
    margin-bottom: 32px;
    display: grid;
    h5{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 12px;
    }
    p:last-child{
        text-align: right;
        color: var(--light-neutral-500);
    }
}