html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input:focus,
a,
button {
  outline: none;
}

strong{
  font-weight: 900;
}

html{
  font-family: 'Roboto Mono';
  font-size: 100%;
  color:var(--light-neutral-900);
}
body{
  background-color:var(--light-neutral-50);;
}

/*VARIABLES ROOT*/
:root {

  --light-blue-500: #0074C4;
  --light-blue-700: #00547A;

  --light-neutral-50: #f9f9f9;
  --light-neutral-400: #CCCCCC;
  --light-neutral-500: #919191;
  --light-neutral-600: #5A5A5A;
  --light-neutral-700: #333333;
  --light-neutral-800: #272727;
  --light-neutral-900: #1C1C1F;

  --red-700: #B40D15;
  --red-800: #6C0801;
  --red-900: #4A0500;

  --violet-500: #1417CF;
  --violet-700: #00027D;

  --teal-600: #15AFAF;
  --teal-700: #0C8485;

  --green-500: #71CD6D;
  --green-800: #22B120;


  //=======================================
  // Box Shadows
  //=======================================
  $shadow-down-xs: 0px 4px 8px rgba(0, 0, 0, 0.08);
  $shadow-down-md: 0px 12px 24px rgba(0, 0, 0, 0.04);

  $shadow-up-xs: 0px -4px 8px rgba(0, 0, 0, 0.08);
  $shadow-up-md: 0px -12px 24px rgba(0, 0, 0, 0.04);
}